input {
  @extend .p-2;
  @extend .pl-3;
  @extend .pr-3;
  @extend .text-regular;
}

input::placeholder {
  @extend .text-secondary;
}

input:focus {
  box-shadow: none;
  outline: none;
  border: 2px solid var(--primary);
}
