<!-- text-header -->
<div class="text-header">Header</div>

<!-- text-caption -->
<div class="text-caption">Question (Caption)</div>

<!-- text-regular -->
<div>Question Text (Body)</div>

<!-- text-secondary -->
<div class="text-secondary">Secondary Text</div>

<!-- text-action -->
<div class="text-action">Call to Action</div>

<div>mt-0</div>
<div class="mt-1">mt-1</div>
<div class="mt-2">mt-2</div>
<div class="mt-3">mt-3</div>
<div class="mt-4">mt-4</div>
<div class="mt-5">mt-5</div>
<div class="mt-6">mt-6</div>
<div class="mt-7">mt-7</div>
<div class="mt-8">mt-8</div>
<div class="mt-9">mt-9</div>
<div class="mt-10">mt-10</div>

