<!--Header-->
<div class="header">
  <div class="header-icon">
    <img src="icons/logo.svg"
         alt="RL Logo"
         class="w-6"
         (click)="routeToHome()" (keydown.enter)="routeToHome()"
         tabindex="0">
  </div>
  <div class="ml-5 w-percent-90 p-3">
    @for (breadcrumb of breadcrumbValues(); track breadcrumb; let index = $index) {
      <span>{{breadcrumb}}</span>
      @if (index !== breadcrumbValues().length - 1) {
        <span class="ml-2 mr-2">></span>
      }
    }
  </div>
</div>
<div class="header-spacer"></div>

<!--Popups-->
<app-confirmation/>

<!--Try open popover-->
<button class="button-secondary" (click)="openConfirmation()">Open popover</button>

<!-- text-header -->
<div class="text-header">Header</div>

<!-- text-caption -->
<div class="text-caption">Question (Caption)</div>

<!-- text-regular -->
<div>Question Text (Body)</div>

<!-- text-secondary -->
<div class="text-secondary">Secondary Text</div>

<!-- text-action -->
<div class="text-action">Call to Action</div>

<!--Table-->
<table>
  <tr>
    <td class="w-3 flex justify-start items-start cursor-pointer">v</td>
    <td>
      <div>What is the answer to everything</div>
      <div>42</div>
    </td>
    <td  class="w-5">4/5 (80%)</td>
    <td  class="w-2"><button class="button-secondary"><i class="icon icon-pencil"></i></button></td>
  </tr>
  <tr>
    <td   class="w-3 flex justify-start items-start cursor-pointer">></td>
    <td>
      <div>How much is the fish</div>
    </td>
    <td class="w-5">0/3 (0%)</td>
    <td class="w-2"><button class="button-secondary"><i class="icon icon-pencil"></i></button></td>
  </tr>

  <tr>
    <td  class="w-3 flex justify-start items-start cursor-pointer">></td>
    <td>
      <div>Does Elvis live?</div>
    </td>
    <td class="w-7">NEW</td>
    <td  class="w-2"><button class="button-secondary"><i class="icon icon-pencil"></i></button></td>
  </tr>
</table>

<!--INPUT-->
<input placeholder="Gib was ein">

<!-- Buttons-->
<div class="mt-2 flex items-center">
  <button class="mr-2 button-primary">Primary</button>
  <button class="mr-2 button-primary" disabled>Primary Disabled</button>
  <button class="mr-2 button-primary"><i class="icon icon-trash"></i> <span class="ml-2">Primary with Icon</span></button>
  <button class="mr-2 button-primary"><i class="icon icon-trash"></i></button>
</div>

<div class="mt-2 flex items-center">
  <button class="mr-2 button-secondary">Secondary</button>
  <button class="mr-2 button-secondary" disabled>Secondary Disabled</button>
  <button class="mr-2 button-secondary"><i class="icon icon-trash"></i> <span class="ml-2">Secondary with Icon</span></button>
  <button class="mr-2  button-secondary"><i class="icon icon-trash"></i></button>
</div>


<div class="mt-2  flex items-center">
  <button class="mr-2  button-danger">Danger</button>
  <button class="mr-2 button-danger" disabled>Danger Disabled</button>
  <button class="mr-2  button-danger"><i class="icon icon-pencil"></i> <span class="ml-2">Danger with Icon</span> </button>
  <button class="mr-2  button-danger"><i class="icon icon-pencil"></i></button>
</div>

<div class="bg-surface-1">surface 1</div>
<div class="bg-surface-2">surface 2</div>
<div class="bg-surface-3">surface 3</div>
<div  class="bg-surface-4">surface 4</div>

<div>mt-0</div>
<div class="mt-1 bg-primary">mt-1</div>
<div class="mt-2 bg-success">mt-2</div>
<div class="mt-3 bg-warning">mt-3</div>
<div class="mt-4 bg-danger">mt-4</div>
<div class="mt-5">mt-5</div>
<div class="mt-6">mt-6</div>
<div class="mt-7">mt-7</div>
<div class="mt-8">mt-8</div>
<div class="mt-9">mt-9</div>
<div class="mt-10">mt-10</div>
