@font-face {
  font-family: "CreatoDisplay";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('../../../../public/fonts/CreatoDisplay-Regular.otf') format('opentype');
}

@font-face {
  font-family: "CreatoDisplay";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('../../../../public/fonts/CreatoDisplay-Medium.otf') format('opentype');
}

@font-face {
  font-family: "CreatoDisplay";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('../../../../public/fonts/CreatoDisplay-Bold.otf') format('opentype');
}
